@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../components/Navbar/navbar','../components/Header/header',"../components/main/main", "../components/main/About/about";

@import url('https://fonts.googleapis.com/css?family=Averia Serif Libre');

html {
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}
.app-container{
//   background: rgb(0,147,255);
// background: linear-gradient(0deg, rgba(0,147,255,1) 0%, rgba(50,109,125,1) 100%);
}
@layer base {
  body {
    @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl font-[Raleway]
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }
  
  li {
    @apply cursor-pointer
  }
  button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#0800ed] to-[#709dff] text-white
  }
  .section-title{
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.1em;
    font-weight: bold;
    color: #2570a5;
}
}